:root{
  --light-color: #5f6a6a;
  --secondary-color: #25523B;
}

body,
html {
  margin: 0;
  background-color: #f9f9f9;
  font-family: Raleway;

 

}

.container {
  width: 100%;
}

.header-bg {
  height: 100vh;
  /* The image used */
  background-image: url("us.jpg");
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container .header-content {
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.2); /* Black background with 0.5 opacity */

  width: 100%; /* Full width */
  height: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1; /* Grey text */
  padding-bottom: 7em;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.title {
  font-family: Great Vibes;
  font-size: 5em;
}

.cursive {
  font-family: Great Vibes;
}

.sans {
	font-family: Raleway;
}

.subtitle {
  font-size: 2.5rem;
  font-family: Quicksand;
  text-align: center;
}

.section {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  background: #e6e6e6;
}

.subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin: 2em;
  text-align: center;
}

.info-section-title {
  margin: 1em;
}

.accomodation-list {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: solid 1px brown; */
}

.accomodation {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  /* border: solid 1px blueviolet; */
  padding: 1em;
  word-wrap: normal;
  margin-bottom: 1em;
  align-items: center;
}

.accomodation-text {
  max-width: 60rem;
  text-align: center;
  margin-bottom: 1em;
}

.accomodation-name {
  /* color: var(--secondary-color); */
  font-weight: bold;
  margin-bottom: .5rem;
}

.accomodation-type {
  color: var(--light-color);
  margin-bottom: .5rem;

}

.subsection > div {
	margin-top: 1rem;
}

.subsection span {
  white-space: nowrap;
}

.big {
  font-size: 3em;
}

.info--list {
  width: 75%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: solid 1px brown; */
}

.section > .polaroid {
  height: auto;
  margin: 2em;
  border-radius: 3px;
  padding: 1%;
  flex: 1;
}


.polaroid > img {
  display: block;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: auto;
  border-radius: 3px;
  box-shadow: 5px 7px 7px grey;
}

.footer {
height: 10vh;
min-height: 3em;
background-color: #333333;
color: #f1f1f1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 2em;
}

.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-subsection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-subsection-title {
  font-size: 2rem;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.info-subsection-list {
  display: flex;

}

.info-subsection-block {
  width: 320px;
  height: 200px;
  padding: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  object-fit: cover;
}


@media screen and (max-width: 900px) {
  .section {
    flex-direction: column-reverse;
  }
  .header-bg {
    margin-bottom: 0em;
  }
  .section .polaroid {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
  .header-text {
	  padding: 1em;
	  padding-bottom: 2rem;
	  align-items: start;
  }
  .big {
    font-size: 2em;
  }
  .church {
	  flex-direction: column;
  }
  .footer {
    margin-top: 1em;
  }

  .accomodation-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-subsection-list {
    flex-direction: column;
  }
}
